*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 600px){ 
    header{
        display: none;
    }
    footer{
        display: none;
    }
}

/***** Header *****/
header{
    .picture{
        width: 100%;
        height: 400px;
    }
}
/***** MAIN *****/
main{
    margin: 50px;
    h1{
        margin: 20px 0;
    }
    section{
        margin: 20px 0;
        ul{
            list-style: none;
            .chceck_ikon_text{
                margin-bottom: 25px;
                img{
                    float: left;
                }
                p{
                    margin-left: 80px;
                    line-height: 50px;
                }
            }
        }
        .big_text{
            font-size: 1.5rem;
        }
        ol{
            list-style: none;
            .input_radio{
                margin: 20px 0;
                input{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }
                .input_radio_button{
                    width: 40px;
                    height: 40px;
                    float: left;
                    border-radius: 50%;
                    border: 2px solid #999;
                }
                .input_radio_button:checked{
                    border: 10px solid blue;
                    background-color: white;
                }
                .input_radio_text{
                    font-size: 25px;
                    margin-left: 70px;
                    line-height: 40px;
                }
            }
        }
    }
    .line{
        border: 5px solid blue;
        margin: 50px 0;
    }
}
/***** FOOTER *****/
footer{
    height: 150px;
    background-image: linear-gradient(180deg, red, yellow);
}